.dashboard {
  display: flex;
  direction: row;
}


.sidebar {
  width: 15%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tablespace {
  margin-left: 15%;
}
